
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1492849986384'); /* IE9*/
  src: url('iconfont.eot?t=1492849986384#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1492849986384') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1492849986384') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1492849986384#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before { content: "\e6ac"; }

.icon-download:before { content: "\e64c"; }

.icon-music:before { content: "\e70f"; }

.icon-paihang:before { content: "\e604"; }

.icon-qianjin:before { content: "\e692"; }

.icon-shunxu:before { content: "\e622"; }

.icon-shezhi:before { content: "\e611"; }

.icon-xinxi:before { content: "\e668"; }

.icon-tuichu:before { content: "\e61d"; }

.icon-fenlei:before { content: "\e72f"; }

.icon-gengduo:before { content: "\e637"; }

.icon-vip:before { content: "\e633"; }

.icon-yifu:before { content: "\e7a9"; }

.icon-zhuanfa:before { content: "\e606"; }

.icon-love:before { content: "\e66a"; }

.icon-shipin:before { content: "\e62e"; }

.icon-houtui:before { content: "\e6f2"; }

.icon-diantai:before { content: "\e613"; }

.icon-yinyue1:before { content: "\e722"; }

.icon-tou4:before { content: "\e60c"; }

.icon-xiaoxi:before { content: "\e690"; }

.icon-iconfontsuiji:before { content: "\e68d"; }

.icon-love1:before { content: "\e607"; }

.icon-mv:before { content: "\e6cf"; }

.icon-zhuanji:before { content: "\e624"; }

.icon-weibiaoti-:before { content: "\e605"; }

.icon-icon-zanting:before { content: "\e747"; }

.icon-erji_icon:before { content: "\e65e"; }

.icon-more_circle:before { content: "\e6cb"; }

.icon-time:before { content: "\e6db"; }

